.dt-datepicker-container{
	display: inline-block;
	position: relative;
}
.dt-date-input{
	width: 200px;
	height: 40px;
	border : 1px solid #666;
	border-radius: 5px;
	text-align: center;
	font-size: 13px;
}
.dt-date-icon{
	font-style: normal;
	font-family: 'iconfont';
	margin-left: -35px;
	vertical-align: middle;
	font-size: 30px;
}
.dt-date-picker{
	width: 350px;
	position: absolute;
	left: 0;
	top: 50px;
	padding: 5px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 4px;
}
.dt-show-date button{
    height: 24px;
    margin: 2px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    outline: none;
	color: #08c;
}
.dt-show-date button:focus{

}
.dt-show-date button:hover{
	cursor: pointer;
	color: #7bb4ac;
}
.dt-datepicker-container div.year-input ,
.dt-datepicker-container div.month-input,
.dt-datepicker-container div.day-input{
	display: inline-block;
	height: 24px;
	border : 1px solid #ccc;
	vertical-align: bottom;
	text-align: center;
	line-height: 24px;
	margin-right: 22px;
	border-radius: 4px;
	padding: 0 2px;
}
.year-input{
	position: relative;
	top: 0;
	left: 0;
}
.dt-show-date .year-select-box{
	width: 80px;
	height: 350px;
	overflow-y :auto;
	position: absolute;
	top: 25px;
	left: 0;
	list-style : none;
	padding: 0;
	margin:0;
	display: none;
	background-color: #fff;
}
.dt-show-date .year-select-box li:hover{
	background-color: #2eb693;
	color: #fff;
}
.dt-show-date select{
	height: 24px;
	vertical-align: bottom;
	appearance : none;
	-moz-appearance:none;
    -webkit-appearance:none;
	outline: none;
	border: 0;
	width: 53px;
	text-align: center;
	padding-left: 13px;
}
.dt-show-date select::-ms-expand { display: none; }
.dt-show-date i{
	font-family: 'iconfont';
	font-style: normal;
}
.dt-show-date i:hover{
	cursor: pointer;
}
.select-year-btn{
	font-size: 20px;
	margin-left: 5px;
}
.dt-show-date option:hover{
	background-color: #2eb693;
	color: #fff;
}
.day-title{
	color: #999;
	display: inline-block;
	width: 50px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-top: 1px solid #ccc;
	margin-top: 5px;
}
.dt-date-box span{
	display: inline-block;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
}
.dt-date-box span:hover{
	cursor: pointer;
}
.dt-date-box .dt-unshow{
	color: #999;
	background-color : #fff;
}
.dt-date-box .dt-show{
	color : #333;
	background-color : #f6f6f6;
}
.dt-date-box .select{
	background-color: #357ebd;
	border-radius: 4px;
	color: #fff;
}
